header {
    height: 80px;
    background-color: rgb(47, 70, 90);
}



.list-menu-color {
    color: white;
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section-bg-color {
    background-color: rgb(28,188,156);
}

.img-border-round {
    border-radius: 8px;
}

.star-break {
    font-size: 25px;
}

.line-break {
    border-bottom: 3px solid;
    width: 60px;
    margin: 0 10px;
}

.avatar-image {
    width: 200px;
}